<form class="form mt-5 text-center">
  <input type="text" #taskInput class="form-control w-75 d-inline-block" />
  <button
    type="button"
    class="btn btn-outline-info ms-3"
    (click)="addTask(taskInput.value)"
  >
    Aggiungi
  </button>
</form>

<div id="h1" class="text-center mt-5">
  <h1>Getting tasks...</h1>
</div>

<div id="main" class="d-none mt-3 text-center">
  <ul class="d-flex justify-content-center" *ngFor="let task of tasks">
    <li
      class="w-50 d-flex justify-content-between border rounded p-2 shadow"
      *ngIf="task.completed == false"
    >
      {{ this.tasks[task.id].title }}
      <button
        type="button"
        class="btn btn-outline-success"
        (click)="completeTask(task.id)"
      >
        Fatto!
      </button>
    </li>
  </ul>
</div>
